!!!
%html
  %head
    %title AmaSPY 1.0 &ndash; No.1 Amazon Product Digger
    %link{rel: 'stylesheet', href: 'colors.css'}
  %body
    %h1(style="color: yellow;") Bye for now!
    %p(style="color: yellow;")  Thank you for using AmaSpy 1.0, the No.1 Amazon Product Digger
    %img(src="logo.png")